{% extends "base.html" %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/allposts.css' %}"/>
{% endblock css %}


{% block main %}
<main>
    <h1 class="heading">All Posts</h1> 
    <div class="blogs">
    {% if posts %}
        {% for post in posts %}
        <div class="blog1" 
             data-title="{{ post.title }}" 
             data-summary="{{ post.summary }}" 
             data-content="{{ post.conten|safe }}" 
             data-image="data:{{ post.content_type }};base64,{{ post.image }}">
            <div class="blog_image">
                <a href="#">
                    <img src="data:{{ post.content_type }};base64,{{ post.image }}" alt="Post Image" />
                </a>
            </div>
            <div class="blog_details">
                <div class="header">{{ post.title }}</div>
                <div class="details">{{ post.summary }}</div>
            </div>

            <div class="imp">
                
                 
                <a href="{% url 'edit_post' post_id=post.id %}">
                    <button class="btn-edit form-btn">Edit</button>
                </a>


                <a href="{% url 'delete_post' post_id=post.id %}">
                    <button class="btn btn-delete form-btn" >Delete</button>
                 </a>      
            </div> 
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No posts available.</p>
    {% endif %}

</main>
{% endblock main %}


{% block js %}

{% endblock js %}