{% extends "base.html" %}
{% block css %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/addPost.css' %}" />

<link rel="stylesheet" href="{% static 'css/base.css' %}"/>


{% endblock css %}


{% block main %}
<h1>Edit Post's </h1>
<div class="form-container">
     
    <form method="post" class="post-form" action="{% url 'edit_post' post_id=post.id %}" enctype="multipart/form-data">


        {% csrf_token %}

        <div class="details">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" value="{{post.title}}" class="form-input" required />
            <br />
            <br />

            <label for="summary" class="form-label">Summary:</label>
            <textarea name="summary" id="summary" class="form-textarea" required> {{post.summary}}</textarea>
            <br />
            <br />

            <label for="content" class="form-label">Content:</label>
            <textarea name="content" id="content" class="form-textarea" required> {{post.content}} </textarea>
            <br />
            <br />


        </div>

        <div class="images">

            <label for="image" class="form-label">Upload Image :</label>
            <input type="file" id="image" name="image" class="form-input" accept="image/*" onchange="displayImage(event)">
            <br><br>

            <!-- Display selected image -->
             <div class="imgContainer">
            {% if post.image %}
            <div class="hii">
            <h4>Old Image:</h4>
            <img src="data:{{ post.content_type }};base64,{{ post.image }}" alt="post image" width="200">
            {% endif %}
        </div>
            <br><br>

            <div id="image-preview-container" style="display: none;">
                <h4>Updated Image:</h4>
                <img id="image-preview" src="" alt="Image Preview" style="max-width: 300px; height: auto;"/>
            </div>
        </div>

           
            <button type="submit" class="form-btn btn">Update Post</button>
        </div>
    </form>

   
</div>

{% endblock main %}


{% block js %}
<script>
    // JavaScript function to display the chosen image
    function displayImage(event) {
      const file = event.target.files[0];
      const reader = new FileReader();
  
      reader.onload = function() {
        const imagePreview = document.getElementById('image-preview');
        const imagePreviewContainer = document.getElementById('image-preview-container');
        
        imagePreview.src = reader.result;
        imagePreviewContainer.style.display = 'block';  // Show the image preview container
      }
  
      if (file) {
        reader.readAsDataURL(file);  // Read the selected file as data URL
      }
    }
</script>
{% endblock js %}


